.App {
  font-size: large;
}
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  transition: left 0.5s;
  z-index: 2;
  overflow-x: hidden;
  background-color: #111;
  color: #818181;
  display: flex;
  flex-flow: column;
}
#sidebar.menu-open {
  left: 0;
}
#main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: left 0.5s;
  padding: 16px;
  text-align: center;
  background-color: #555;
}
@media all and (min-width: 400px) {
  #sidebar {
      width: 400px;
      left: -400px;
  }
}
@media all and (min-width: 700px) {
  #main.menu-open {
      left: 400px;
  }
}
#event-list {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow-y: auto;
}
#sidebar div {
  padding: 16px;
}
#sidebar table {
  width: 100%;
}
#sidebar li, #sidebar a {
  display: block;
  transition: 0.3s
}
#sidebar span {
  display: inline-block;
}
#sidebar td {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
}
#sidebar td:first-child {
  float: left;
  width: 80%;
}
#sidebar td:last-child {
  float: right;
}
#feature-request {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 16px;
}
#main a {
  color: #000000;
}
#main a:hover {
  color: #f1f1f1;
}
#bulk-editor {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
}
#bulk-editor textarea {
  resize: none;
  width: 100%;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #f1f1f1;
}